<ng-container *ngIf="type === 'type'">
  <div class="chip {{editable}}">
      <span *ngIf="editable" (click)="selectTypeModal = true">{{activeType.label}}</span>
      <span *ngIf="!editable">{{activeType.label}}</span>
  </div>
</ng-container>

<ng-container *ngIf="type === 'config' && activeType['requiresConfig'] !== ''">
  <div class="chip {{editable}}">
    <ng-container [ngSwitch]="activeType['requiresConfig']">
      <span *ngSwitchCase="'dataKey'" (click)="selectDataKeyModal = true">{{condition['config']}}</span>
      <span *ngSwitchCase="'string'" (click)="enterConfigStringModal = true">{{condition['config']}}</span>
    </ng-container>
  </div>
</ng-container>

<ng-container *ngIf="type === 'checkType' && activeType['requiresCheckType'] !== ''">
  <div class="chip {{editable}}">
    <ng-container [ngSwitch]="activeType['requiresCheckType']">
      <span *ngSwitchCase="'simpleCheckType'" (click)="selectSimpleCheckTypeModal = true">{{getCheckTypeLabel(condition['checkType'])}}</span>
      <span *ngSwitchCase="'checkType'" (click)="selectCheckTypeModal = true">{{getCheckTypeLabel(condition['checkType'])}}</span>
    </ng-container>
  </div>
</ng-container>


<ng-container *ngIf="type === 'body' && activeType['requiresBody'] !== ''">
  <div class="chip {{editable}}">
    <ng-container [ngSwitch]="activeType['requiresBody']">
      <span *ngSwitchCase="'userSelect'" (click)="enterJsonModal = true">ME</span>
      <span *ngSwitchCase="'json'" (click)="enterJsonModal = true">JSON</span>
      <span *ngSwitchCase="'errorCode'" (click)="selectErrorCodeModal = true">{{this.condition.body}}</span>
      <span *ngSwitchCase="'string'" (click)="enterStringModal = true">{{this.condition.body}}</span>
    </ng-container>

  </div>
</ng-container>

<p-dialog [modal]="true" header="Select Check Type" *ngIf="selectCheckTypeModal" [(visible)]="selectCheckTypeModal">
  <p-dropdown appendTo="body" [options]="checkTypeOptions" [(ngModel)]="selectedCheckType"></p-dropdown>
  <p-footer>
    <p-button (click)="submit('checkType')" label="Submit" icon="pi pi-check" iconPos="left"></p-button>
  </p-footer>
</p-dialog>

<p-dialog [modal]="true" header="Select Check Type" *ngIf="selectSimpleCheckTypeModal" [(visible)]="selectSimpleCheckTypeModal">
  <p-dropdown appendTo="body" [options]="simpleCheckTypeOptions" [(ngModel)]="selectedCheckType"></p-dropdown>
  <p-footer>
    <p-button (click)="submit('checkType')" label="Submit" icon="pi pi-check" iconPos="left"></p-button>
  </p-footer>
</p-dialog>

<!--<p-dialog [modal]="true" header="Select Data Key" *ngIf="selectDataKeyModal" [(visible)]="selectDataKeyModal">-->
<!--  <p-dropdown appendTo="body" [options]="" [(ngModel)]="selectedConfig"></p-dropdown>-->
<!--  <p-footer>-->
<!--    <p-button (click)="submit('config')" label="Submit" icon="pi pi-check" iconPos="left"></p-button>-->
<!--  </p-footer>-->
<!--</p-dialog>-->

<p-dialog [modal]="true" header="Select Error Code" *ngIf="selectErrorCodeModal" [(visible)]="selectErrorCodeModal">
  <p-dropdown appendTo="body" [options]="errorCodes" [(ngModel)]="enteredBody"></p-dropdown>
  <p-footer>
    <p-button (click)="submit('body')" label="Submit" icon="pi pi-check" iconPos="left"></p-button>
  </p-footer>
</p-dialog>

<p-dialog [modal]="true" header="Edit String" *ngIf="enterConfigStringModal" [(visible)]="enterConfigStringModal">
  <input style="width: 100%" type="text" pInputText [(ngModel)]="selectedConfig" />
  <p-footer>
    <p-button (click)="submit('config')" label="Submit" icon="pi pi-check" iconPos="left"></p-button>
  </p-footer>
</p-dialog>

<p-dialog [modal]="true" header="Edit String Body" *ngIf="enterStringModal" [(visible)]="enterStringModal">
  <input style="width: 100%" type="text" pInputText [(ngModel)]="enteredBody" />
  <p-footer>
    <p-button (click)="submit('body')" label="Submit" icon="pi pi-check" iconPos="left"></p-button>
  </p-footer>
</p-dialog>

<p-dialog [modal]="true" header="Edit JSON Body" *ngIf="enterJsonModal" [(visible)]="enterJsonModal">
  <ngx-monaco-editor [options]="editorOptions" [(ngModel)]="enteredBody"></ngx-monaco-editor>
  <p-footer>
    <p-button (click)="submit('body')" label="Submit" icon="pi pi-check" iconPos="left"></p-button>
  </p-footer>
</p-dialog>

<p-dialog [modal]="true" header="Edit Type" *ngIf="selectTypeModal" [(visible)]="selectTypeModal">
  <p-dropdown appendTo="body" [options]="conditionTypes" [(ngModel)]="selectedType"></p-dropdown>
  <p-footer>
    <p-button (click)="submit('type')" label="Submit" icon="pi pi-check" iconPos="left"></p-button>
  </p-footer>
</p-dialog>

<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
