<header class="p-pt-2 p-px-2 p-pb-0">
  <div class="p-grid">
    <div class="p-col"></div>
    <div class="p-col p-d-flex p-ai-center p-jc-center">
      <span id="logo-text">JumbaLiar</span>
    </div>
    <div class="p-col">
      <div id="account" *ngIf="user[0] && user[0].email">
        <p-menubar [model]="user">
          <ng-template pTemplate="start">
            <img ngxGravatar [email]="user[0].email" height="40" class="p-p-1 grav">
          </ng-template>
        </p-menubar>
      </div>
    </div>
  </div>
</header>
<p-menubar [model]="items"></p-menubar>
