@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

:root {
  --main-bg-color: #17212f;
  --main-color: #F37950;
}

body {
  background-color: var(--main-bg-color);
  margin: 0;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}
body a {
  text-decoration: none;
}

#restart {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  color: var(--main-color);
  flex-direction: column;
  background-color: rgba(0,0,0,0.3);
  display: flex;
  align-items: center;
  justify-content: center;
}

.p-menuitem-link-active {
  background: rgba(255, 255, 255, 0.03);
}

ngx-monaco-editor {
  height: 500px;
  width: 800px;
}

#uploads {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1em;
}
.upload {
  width: 25%;
}
.upload > * {
  margin: 1em;
  display: block;
}

p-table .p-tag {
  width: 60px;
  margin-right: 5px;
}

.upload-bg {
  height: 20vh;
  background-size: cover;
}

#uploads .p-card-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

p-dialog.large > div > div {
  width: 800px;
}

.arrow {
  position: relative;
  width: 100%;
  height: 4px;
  background-color: var(--main-color);
  border-radius: 5px;
  margin-top: 1.5em;
}
.arrow:before,
.arrow:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 4px;
  background-color: var(--main-color);
  border-radius: 5px;
}
.arrow:before {
  top: -5px;
  transform: rotate(30deg);
}
.arrow:after {
  top: 5px;
  transform: rotate(-30deg);
}

span.link {
  color: rgb(85, 26, 139);
  cursor: pointer;
}

/*.wrapper > h2 + p-panel > div {*/
/*  box-shadow: 0 0 20px #1092c2;*/
/*  border-radius: 3px;*/
/*}*/

.full-width,
.full-width input,
.full-width .p-dropdown,
.full-width .p-multiselect,
.full-width .p-autocomplete,
.full-width .p-autocomplete-multiple-container {
  width: 100%;
}

.p-dialog .full-width,
.p-dialog .full-width input,
.p-dialog .full-width .p-dropdown,
.p-dialog .full-width .p-autocomplete,
.p-dialog .full-width .p-autocomplete-multiple-container {
  width: 400px;
}


.services-placeholder span {
  left: 2rem;
  color: rgba(255, 255, 255, 0.6);
  position: absolute;
  top: 47%;
  margin-top: -.5rem;
}
.services-placeholder input {
  padding-left: 6.4rem !important;
}
.services-placeholder input::placeholder {
  color: white;
}

code {
  display: inline-block;
  background-color: var(--main-bg-color);
  color: var(--main-color);
  padding: 2px;
}

.help {
  margin: 0;
  padding: 0 1.5rem;
}

.p-input-icon-left i {
  z-index: 1;
}
.p-input-icon-left .p-autocomplete input,
.p-input-icon-left .p-autocomplete-multiple-container {
  padding-left: 2rem !important;
}
.p-input-icon-left .p-multiselect,
.p-input-icon-left .p-dropdown {
  padding-left: 1.5rem;
}
.p-input-icon-left .p-autocomplete-multiple-container input {
  padding-left: 0 !important;
}

.conditional > span {
  display: inline-block;
  padding: 0 5px;
}
app-chip + app-chip > div {
  margin-left: 5px;
}
.chip {
  background-color: var(--main-bg-color);
  display: inline-block;
  font-size: 12px;
  padding: 5px;
  border-radius: 5px;
}

.chip.true span {
  color: var(--main-color);
  cursor: pointer;
}
.chip.true span:hover {
  opacity: 0.8;
}
.chip i {
  margin-left: 5px;
  color: var(--main-color);
  position: relative;
  top: 2px;
  cursor: pointer;
}
.chip i:hover {
  opacity: 0.8;
}


.color-swatch {
  width: 25px;
  height: 25px;
  border-radius: 100%;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

app-media .p-card-content {
  display: none;
}

p-header {
  width: 100%;
}
.p-panel .p-panel-header {
  padding-bottom: 0.5em !important;
}

.wrapper {
  max-width: 1200px;
  margin: auto;
  padding: 0 1em;
}

.heading {
  color: white;
  font-weight: 300;
}

.user > * {
  display: inline-block;
  vertical-align: middle;
}
.user span {
  margin-left: 0.5em;
}

#logo {
  max-height: 60px;
}
.grav {
  border-radius: 100%;
}

.login {
  border-top: 1em solid var(--main-color);
  height: calc(100vh + 0.5em);
}
.login .inner {
  height: 100%;
}
.login .p-col:nth-of-type(1) h1 {
  font-size: 4em;
  color: white;
  margin-bottom: 0;
}
.login .p-col:nth-of-type(1) p {
  color: rgba(255,255,255,0.3);
}
.login .p-col:nth-of-type(2) .inner {
  position: relative;
  background-image: url(/assets/shrimp.jpg);
  color: white;
}
.login .p-col:nth-of-type(2) .inner:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 0;
}

p-panel.bar .p-panel-content {
  display: none;
}
p-panel.bar .p-panel-header {
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

p-card img {
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

header {
  background-color: var(--main-color);
}
header .p-grid div:nth-of-type(2) {
  text-align: center;
}
header .p-grid div:nth-of-type(3) {
  text-align: right;
}
#account {
  display: inline-block;
}
#account .p-menubar-start {
  display: flex;
  align-items: center;
  justify-content: center;
}
#account .p-menubar {
  padding: 0.1rem;
  background: rgba(0,0,0,0.3);
  color: rgba(255, 255, 255, 0.87);
  border: rgba(0,0,0,0.8);
  border-radius: 3px;
}
#logo-text {
  font-size: 2em;
  color: white;
}
