<app-navbar></app-navbar>
<div class="wrapper">
  <h2 class="heading">Media / Uploads</h2>

  <p-panel class="bar">
    <p-header>
      <div class="p-grid">
        <div class="p-col-6 p-p-0 p-d-flex p-ai-center p-jc-start">
          Total Uploads: {{media.length}}
        </div>
        <div class="p-col-6 p-p-0 p-d-flex p-ai-center p-jc-end">
          <p-button (click)="uploadImage.click()" label="" icon="pi pi-plus" iconPos="left"></p-button>
          <input #uploadImage style="display: none" accept="image/x-png,image/gif,image/jpeg" type="file" id="image" (change)="upload($event.target.files, this)"/>
        </div>
      </div>
    </p-header>
  </p-panel>

  <br>

  <div id="uploads">
    <div class="upload" *ngFor="let i of media">
      <p-card header="{{i.name}}" subheader="{{i.width}} x {{i.height}}" styleClass="p-card-shadow">
        <p-header>
          <a href="{{data.backendUrl}}/uploads/{{i.name}}" target="_blank">
          <div class="upload-bg" style="background-image: url('{{data.backendUrl}}/uploads/{{i.name}}')"></div>
          </a>
        </p-header>
        <ng-template pTemplate="footer">
          <p-button (click)="delete(i.name)" label="Delete" icon="pi pi-times"></p-button>
        </ng-template>
      </p-card>
    </div>
  </div>
</div>

<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>


