<app-navbar></app-navbar>
<div class="wrapper">
  <h2 class="heading">Applications</h2>

  <p-panel class="{{applications.length === 0 ? 'bar' : ''}}">
    <p-header>
      <div class="p-grid">
        <div class="p-col-6 p-p-0 p-d-flex p-ai-center p-jc-start">
          Total Applications: {{applications.length}}
        </div>
        <div class="p-col-6 p-p-0 p-d-flex p-ai-center p-jc-end">
          <p-button (click)="create()" label="" icon="pi pi-plus" iconPos="left"></p-button>
        </div>
      </div>
    </p-header>
    <p-table [value]="applications" styleClass="p-datatable-striped">
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="visibility">Name <p-sortIcon field="visibility"></p-sortIcon></th>
          <th pSortableColumn="colorHex">Color Hex <p-sortIcon field="colorHex"></p-sortIcon></th>
          <th pSortableColumn="basePath">Proxy Path <p-sortIcon field="basePath"></p-sortIcon></th>
          <th>Actions</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-application>
        <tr>
          <td>{{application.name}}</td>
          <td><div class="color-swatch" style="background-color: {{application['colorHex']}};"></div>{{application.colorHex}}</td>
          <td>{{application.basePath}}</td>
          <td>
            <button (click)="update(application)" pButton type="button" icon="pi pi-pencil" label="" class="p-button-secondary"></button> &nbsp;
            <button (click)="delete(application)" pButton type="button" icon="pi pi-trash" label="" class="p-button-danger"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-panel>
</div>

<p-dialog [modal]="true" header="{{isUpdating ? 'Update' : 'New'}} Application" [(visible)]="display" *ngIf="display">
  <span class="p-input-icon-left">
    <i class="pi pi-user"></i>
    <input size="50" type="text" pInputText placeholder="Name" [(ngModel)]="applicationForm['name']" />
  </span><br><br>
  <span class="p-input-icon-left">
    <i class="pi pi-user"></i>
    <input size="44" type="text" pInputText placeholder="Color" [(ngModel)]="applicationForm['colorHex']" />&nbsp;&nbsp;&nbsp;
    <p-colorPicker appendTo="body" [(ngModel)]="applicationForm['colorHex']"></p-colorPicker>
  </span><br><br>
  <span class="p-input-icon-left">
    <i class="pi pi-envelope"></i>
    <input size="50" type="text" pInputText placeholder="Proxy URL" [(ngModel)]="applicationForm['basePath']" />
  </span><br><br>
  <p-button (click)="submit()" label="{{isUpdating ? 'Update' : 'Create'}}" icon="pi pi-check" iconPos="left"></p-button>
</p-dialog>

<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>


